footer{
    background-color: #392620;
}
#footer_items{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;

}


#copyright{
    color: #fff9ea;
    font-weight: 600;
}

@media screen and (max-width: 850px){
    #footer_items{
        flex-direction: column;
        gap: 20px;
    }
}
